tags
*~
*.sw*
.VimballRecord
.netrwhist
bundle/vim-peepopen
.DS_Store
*.log
*.tmp
*.swp
*.old
*.bkp
*.zip
*.rar
*.arj
*.[t]gz
*.[t]bz2
tmp/
log/

*.last-run
*.system-ca-bundle
*.merged-ca-bundle
*.user-ca-bundle
*.cache
*.crt

WakaTime.sublime-settings
Evernote.sublime-settings
Gist.sublime-settings
zsh-autosuggestions

plugins/zsh-autosuggestions
plugins/nvm-auto
vscode/vsicons.settings.json
